<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUp on WanderLust</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="" class="form-control" id="username" required>
                <div class="valid-feedback">Looks good!</div>
             </div>

             <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" placeholder="" class="form-control" id="email" required>
             </div>

             <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="" class="form-control" id="password" required>   
             </div>

<!--               -->

             <!-- <div class="mb-2">
                <div>
                <label for="role" class="mb-2">SignUp As</label>
                <select class="form-select" type="select" name="role" required>
                    <option value="1">Guest</option>
                    <option value="2">Host</option>
                  </select>
            </div>
             </div> -->

<!--                 -->

             <button class="btn btn-success mt-3">SignUp</button>
  
        </form>
    </div>
</div>